 body {

    background-color: black;
  
    text-align: center;
  
    color: lightgray;
  
    font-family: Arial, Helvetica, sans-serif;
  
    position: relative;
  
  }
  
   
  
  table {
  
    margin: 30px auto;
  
    border: 1px solid lightgray;
  
    text-align: center;
  
    vertical-align: middle;
  
  }
  
   
  
  .cell {
  
    width: 40px;
  
    height: 40px;
  
    font-size: 1.5em;
  
  }
  
  .modal span{
  
        color: lightblue;
  
        background-color: white;
  
        font-size: 50px;
  
  }
  
   
  
  .restart{
  
        border: 3px solid white;
  
        color: white;
  
        background-color: orange;
  
        font-size: 30px;
  
        text-align: center;
  
        margin: auto;
  
        cursor: pointer;  
  
  }
  
   
  
  .img {
  
    width: 30px;
  
    height: 30px;
  
  }
  
   